<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style>
    <title>Lista de Atividades</title>
</head>

<body style="font-family: Roboto;">
    
    <header>
        <nav class="navbar navbar-expand-lg bg-rgb" style="background-color: rgb(66, 178, 235);">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gerenciar aplicação
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/:_id/tarefas">Lista de tarefas</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/:_id/telaadm">Tela administrativa</a></li>
                      </ul>
                    </li>
                  </ul>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-light" id="home" href="/">SAIR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <% if (user == null) { %>

    <% } else { %>



        <div class="form-cadastro" id="modal">
            <div class="container" id="card">
                <form action="/updateOneUser/<%= user._id %>" method="post" class="row g-3 needs-validation" noValidate>
                    <h1>Atualizar nome do usuário</h1>
                    <hr>
                    <div class="col-md-12" id="head">
                        <label htmlFor="nome" class="form-label">
                            Novo nome:
                        </label>
                        <input type="text" class="form-control" id="nome" name="nome" value="<%= user.nome %>" required>
                        <div class="valid-feedback">Tudo certo!</div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger">Alterar</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelUpdate()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

    <% } %>

    <% if (userDelete != null) { %>


        <div class="form-cadastro" id="modal">
            <div class="container" id="card">
                <form method="post" class="row g-3 needs-validation" noValidate>
                    <h2>Confirmar exclusão</h2>
                    <hr>
                    <div class="col-md-12" id="head">
                        <label htmlFor="nome" class="form-label">
                            Deseja realmente excluir o usuário: <%= userDelete.nome %>?
                        </label>
                    </div>
                    <div class="col-md-12" id="btns">
                        <a id="btnNot" href="/:_id/telaadm">No</a>
                        <a id="btnYes" href="/deleteOneUser/<%= userDelete._id %>">Yes</a>
                    </div>
                </form>
            </div>
        </div>              

    <% } %>
    
    
    <h1>Lista de Usuários</h1>
    <button type="button" class="btn btn-success" id="atualizarDados">Atualizar Dados</button>
    <div class="form-cadastro">
        <div class="container text-center">
            <div class="row list-group list-group-horizontal">
                <div class="list-group-item col-5">NOME</div>
                <div class="list-group-item col-5">EMAIL</div>
                <div class="list-group-item col-2">AÇÕES</div>
            </div>

                <% users.forEach(user => { %>

            <div class="row list-group list-group-horizontal">
                <div class="list-group-item col-5"><%= user.nome %></div>
                <div class="list-group-item col-5"><%= user.email %></div>
                <div class="list-group-item col-2">
                    <a class="btn btn-outline-secondary"  href="/getById/<%= user._id %>/update"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                      </svg></a>
                    <a class="btn btn-outline-danger" href="/getById/<%= user._id %>/delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg></a>
                </div>
            </div>

                <% }); %>

        </div> 
    </div>


    <% if (userDelete != null) { %>
        <section id="modal">
            <div id="card">
                <div id="head">
                    <h2>Confirmar exclusão</h2>
                </div>
                <hr>
                <p>Deseja realmente excluir o usúario: <%= userDelete.nome %> ?</p>
                <div id="btns">
                    <a id="btnNot" href="/:_id/telaadm">No</a>
                    <a id="btnYes" href="/deleteOneUser/<%= userDelete._id %>">Yes</a>
                </div>
            </div>
        </section>
    <% } %>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>

        document.getElementById('atualizarDados').addEventListener('click', function() {
            setTimeout(function() {
                alert('Dados atualizados!');
                location.reload();
            }, 1000);
        });

        function cancelUpdate() {
                window.location.href = "/:_id/telaadm";
            }
    </script>
</body>
</html>
