<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Tela administrativa</title>
</head>

<body>
    
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <h1>LOGO</h1>
                </a>
                <button class="navbar-toggler shadow-sm" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="" href=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-danger" id="logout" href="/">SAIR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <% if (user == null) { %>

    <% } else { %>

        <div class="form-cadastro" id="modal">
            <div class="container" id="card">
                <form action="/updateOneUser/<%= user._id %>" method="post" class="row g-3 needs-validation" noValidate>
                    <h2>Atualizar nome do usuário</h2>
                    <hr>
                    <div class="col-md-12" id="head">
                        <label htmlFor="nome" class="form-label">
                            Novo nome:
                        </label>
                        <input type="text" class="form-control" id="nome" name="nome" value="<%= user.nome %>" required>
                        <div class="valid-feedback">Tudo certo!</div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger">Alterar</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelUpdate()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

    <% } %>

    <% if (userDelete != null) { %>


        <div class="form-cadastro" id="modal">
            <div class="container" id="card">
                <form method="post" class="row g-3 needs-validation" noValidate>
                    <h2>Confirmar exclusão</h2>
                    <hr>
                    <div class="col-md-12" id="head">
                        <label htmlFor="nome" class="form-label">
                            Deseja realmente excluir o usuário: <%= userDelete.nome %>?
                        </label>
                    </div>
                    <div class="col-md-12" id="btns">
                        <a id="btnNot" href="/:_id/telaadm">No</a>
                        <a id="btnYes" href="/deleteOneUser/<%= userDelete._id %>">Yes</a>
                    </div>
                </form>
            </div>
        </div>              

    <% } %>
    
    
    <h1>Lista de Usuários</h1>
    <button type="button" class="btn btn-success" id="atualizarDados">Atualizar Dados</button>
    <div class="form-cadastro">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.nome %></td>
                            <td><%= user.email %></td>
                            <td>
                                <a class="btnUpdate" href="/getById/<%= user._id %>/update"><i class="bi bi-pencil-square"></i></a>
                                <a class="btnDelete" href="/getById/<%= user._id %>/delete"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div> 
    </div>


    <% if (userDelete != null) { %>
        <section id="modal">
            <div id="card">
                <div id="head">
                    <h2>Confirmar exclusão</h2>
                </div>
                <hr>
                <p>Deseja realmente excluir o usúario: <%= userDelete.nome %> ?</p>
                <div id="btns">
                    <a id="btnNot" href="/:_id/telaadm">No</a>
                    <a id="btnYes" href="/deleteOneUser/<%= userDelete._id %>">Yes</a>
                </div>
            </div>
        </section>
    <% } %>




    <script>

        document.getElementById('atualizarDados').addEventListener('click', function() {
            setTimeout(function() {
                alert('Dados atualizados!');
                location.reload();
            }, 1000);
        });

        function cancelUpdate() {
                window.location.href = "/:_id/telaadm";
            }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-GLhlTQ8iK1bVBqepJq3Bt6q8+z9FQI5L6aLGrND7Jl13KOMUksLJcC9D2brboS" crossorigin="anonymous"></script>
</body>
</html>
